.sortby__container{
    margin-top: 1rem;
    .nav{
        &-link{
            padding: 0;
            border: 0;
            font-weight: 600;
            font-size: 14px;
            background: transparent;
            margin: 0 15px;

            &.active{
                color: $primary;
                border-bottom: 2px solid $primary;
            }
        }
    }
}